h2 {
    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    
    /* desktop/h2 */
    font-family: Montserrat;
    font-size: var(--h2-size, 56px);
    font-style: normal;
    font-weight: 600;
    line-height: 124%; /* 69.44px */
    text-transform: uppercase;
    margin: 0 auto;
}

h6 {
    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    
    /* desktop/h6 */
    font-family: Montserrat;
    font-size: var(--h6-size, 20px);
    font-style: normal;
    font-weight: 600;
    line-height: 124%; /* 24.8px */
    text-transform: uppercase;
    margin: 0 auto;
}

.mainContainer {
    width: 100vw;
    height: 100vh;
    margin: auto;
    background: radial-gradient(62.7% 62.7% at 50% 50%, #343F46 30%, #161B1B 100%);
}

.headerContainer {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    z-index: 10;
    position: fixed;
}